#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .App{
    height: 70%;
    width: 100%;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 20px 15px;
    border-radius: 12px;
  }
  .title{
    color: aliceblue;
  }
  .input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  input{
    text-align: center;
    height:24px;
  }
  .button{
    font-weight: 600;
    font-size: 15px;
  }
  .button:hover{
    background-color: chocolate;
    color: aliceblue;
  }
  .list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    margin: 9px auto;
  }
  .buton button{
    margin-right: 10px;
  }
  
  
  
  